[submodule "vendor/argus"]
	path = vendor/argus
	url = https://github.com/safe-ai-factory/argus.git
	branch = main
[submodule "vendor/leash"]
	path = vendor/leash
	url = git@github.com:safe-ai-factory/leash.git
	branch = workaround/h2patch-image
